html{

    overflow-x:hidden;
background-color: #87CEEB;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
margin-top: 40vh;
}

#Soleil{
position: absolute;
    height: 20rem;
    width: 20rem;
    top: -30%;
    left: 90%;
}

#Nuage{
 position: absolute;
    height: 30rem;
    width: 30rem;
    left: 30%;
    top: -20%;
}



